:root {
  --clr-neon: #ff0000;
  --clr-bg: #000000;
}

*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  background: var(--clr-bg);
  font-family: 'Press Start 2P', cursive;
  color: var(--clr-neon);
}
#user{
  position: absolute;
  top: 2%;
  left: 2%;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  text-shadow: 0 0 0.125em #ffffff4d, 0 0 0.45em currentColor;
}
#animat{
  position: absolute;
  top: 2%;
  left: 16.25%;
  animation: flash 1s;
  animation-iteration-count: infinite;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  text-shadow: 0 0 0.125em #ffffff4d, 0 0 0.45em currentColor;
}
#neon-div {
  font-size: 4rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  text-shadow: 0 0 0.125em #ffffff4d, 0 0 0.45em currentColor;
  position: absolute;
  animation-iteration-count: 1;
  top: 10%;
  left: 45%;
  user-select: none;
}
#neon-button0 {
  position: absolute;
  top: 75%;
  left: 2%;
  font-size: 30px;
}
#neon-button-Del {
  position: absolute;
  top: 75%;
  left: 10%;
  font-size: 30px;
}
#neon-button-Add {
  position: absolute;
  top: 75%;
  left: 22.5%;
  font-size: 30px;
}
#neon-button-Subtract {
  position: absolute;
  top: 75%;
  left: 30.5%;
  font-size: 30px;
}
#neon-button-Multiply {
  position: absolute;
  top: 75%;
  left: 38.5%;
  font-size: 30px;
}
#neon-button-Divide {
  position: absolute;
  top: 75%;
  left: 46.5%;
  font-size: 30px;
}
#neon-button-Enter {
  position: absolute;
  top: 75%;
  left: 54.5%;
  font-size: 30px;
}
#neon-button1 {
  position: absolute;
  top: 65%;
  left: 2%;
  font-size: 25px;
  
}
#neon-button2 {
  position: absolute;
  top: 65%;
  left: 9%;
  font-size: 25px;
}
#neon-button3 {
  position: absolute;
  top: 65%;
  left: 16%;
  font-size: 25px;
}
#neon-button4 {
  position: absolute;
  top: 65%;
  left: 23%;
  font-size: 25px;
}
#neon-button5 {
  position: absolute;
  top: 65%;
  left: 30%;
  font-size: 25px;
}
#neon-button6 {
  position: absolute;
  top: 65%;
  left: 37%;
  font-size: 25px;
}
#neon-button7 {
  position: absolute;
  top: 65%;
  left: 44%;
  font-size: 25px;
}
#neon-button8 {
  position: absolute;
  top: 65%;
  left: 51%;
  font-size: 25px;
}
#neon-button9 {
  position: absolute;
  top: 65%;
  left: 58%;
  font-size: 25px;
}
.button-b,
.button-a{
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon); 
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em #ffffff4d, 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
  animation-iteration-count: 1;
  user-select: none;
}
.button-b::before{
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}
.button-b::after, .button-a::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}
.button-b:hover,
.button-b:focus,
.button-a:hover,
.button-a:focus {
  color: var(--clr-bg);
  text-shadow: none;
}
.button-b:hover::before,
.button-b:focus::before,
.button-a:hover::before,
.button-a:focus::before  {
  opacity: 1;
  animation: flickerAnimation .25s;
  animation-iteration-count: 1;
}
.button-b:hover::after,
.button-b:focus::after,
.button-a:hover::after,
.button-a:focus::after {
  opacity: 1;
  animation: flickerAnimation .25s;
  animation-iteration-count: 1;
}
@keyframes flickerAnimation {
0%   { opacity:0.5; }
10%   { opacity: 1; }
20%   { opacity:0; }
30%   { opacity: 0.5; }
40%   { opacity:0; }
50%   { opacity:1; }
60%   { opacity:0; }
70%   { opacity:0.5; }
80%   { opacity:0; }
90%   { opacity:0.5; }
100%   { opacity:1; }
}
@keyframes flash{
0% {opacity: 0;}
50% {opacity: 1;}
100% {opacity: 0;}
}